<header class="bg-white sticky-top">
  <nav class="py-4 navbar navbar-dark bg-dark">
    <ul class="d-flex">
      <li><%= link_to "・New Shops", shops_path, class:"text-white mr-3" %></li>
      <li><%= link_to "・New Items", items_path, class:"text-white mr-3" %></li>
    </ul>
  </nav>
</header>